@import "../../../node_modules/bootstrap/scss/bootstrap";

.container {
  padding-top: 20px
}

.navbar-nav .nav-item li {
  cursor: pointer;
}

.list-group-item {
  &.router-link-active,
  &.router-link-active:hover,
  &.router-link-active:focus {
    cursor: pointer;
    z-index: 2;
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border;
  }
}

.navbar-nav .nav-item li {
  &.router-link-active,
  &.router-link-active:hover,
  &.router-link-active:focus {
    color: rgba(0,0,0,.8);
  }
}